.tork-text-primary {
  color: #0d6efd;
}

.tork-text-secondary {
  color: #6c757d;
}

.tork-text-success {
  color: #198754;
}

.tork-text-info {
  color: #0dcaf0;
}

.tork-text-warning {
  color: #ffc107;
}

.tork-text-danger {
  color: #dc3545;
}

.tork-text-light {
  color: #f8f9fa;
}

.tork-text-white {
  color: #ffffff;
}

.tork-text-dark {
  color: #212529;
}

.tork-bg-primary {
  background-color: #0d6efd;
}

.tork-bg-secondary {
  background-color: #6c757d;
}

.tork-bg-success {
  background-color: #198754;
}

.tork-bg-info {
  background-color: #0dcaf0;
}

.tork-bg-warning {
  background-color: #ffc107;
}

.tork-bg-danger {
  background-color: #dc3545;
}

.tork-bg-light {
  background-color: #f8f9fa;
}

.tork-bg-white {
  background-color: #ffffff;
}

.tork-bg-dark {
  background-color: #212529;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0d6efd;
}

ul {
  list-style: none;
}

/*-----------------
* tork row style 
-----------------*/
.tork-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/*---------------------
* tork container style 
---------------------*/
.tork-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .tork-container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .tork-container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .tork-container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-container {
    max-width: 1140px;
  }
}

/* ------------------
* Responsive grids
----------------------*/
.tork-col-sm-1,
.tork-col-sm-2,
.tork-col-sm-3,
.tork-col-sm-4,
.tork-col-sm-5,
.tork-col-sm-6,
.tork-col-sm-7,
.tork-col-sm-8,
.tork-col-sm-9,
.tork-col-sm-10,
.tork-col-sm-11,
.tork-col-sm-12,
.tork-col-md-1,
.tork-col-md-2,
.tork-col-md-3,
.tork-col-md-4,
.tork-col-md-5,
.tork-col-md-6,
.tork-col-md-7,
.tork-col-md-8,
.tork-col-md-9,
.tork-col-md-10,
.tork-col-md-11,
.tork-col-md-12,
.tork-col-lg-1,
.tork-col-lg-2,
.tork-col-lg-3,
.tork-col-lg-4,
.tork-col-lg-5,
.tork-col-lg-6,
.tork-col-lg-7,
.tork-col-lg-8,
.tork-col-lg-9,
.tork-col-lg-10,
.tork-col-lg-11,
.tork-col-lg-12,
.tork-col-xl-1,
.tork-col-xl-2,
.tork-col-xl-3,
.tork-col-xl-4,
.tork-col-xl-5,
.tork-col-xl-6,
.tork-col-xl-7,
.tork-col-xl-8,
.tork-col-xl-9,
.tork-col-xl-10,
.tork-col-xl-11,
.tork-col-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (min-width: 576px) {
  .tork-col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333333%;
            flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
  }
  .tork-col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .tork-col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .tork-col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .tork-col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .tork-col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .tork-col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .tork-col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .tork-col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .tork-col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .tork-col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .tork-col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .tork-col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333333%;
            flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
  }
  .tork-col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .tork-col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .tork-col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .tork-col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .tork-col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .tork-col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .tork-col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .tork-col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .tork-col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .tork-col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .tork-col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .tork-col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333333%;
            flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
  }
  .tork-col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .tork-col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .tork-col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .tork-col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .tork-col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .tork-col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .tork-col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .tork-col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .tork-col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .tork-col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .tork-col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333333%;
            flex: 0 0 8.333333333333333%;
    max-width: 8.333333333333333%;
  }
  .tork-col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .tork-col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .tork-col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .tork-col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .tork-col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .tork-col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .tork-col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .tork-col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .tork-col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .tork-col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .tork-col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.tork-border {
  border: 1px solid #dee2e6;
}

.tork-border-primary {
  border-color: #0d6efd;
}

.tork-border-secondary {
  border-color: #6c757d;
}

.tork-border-success {
  border-color: #198754;
}

.tork-border-info {
  border-color: #0dcaf0;
}

.tork-border-warning {
  border-color: #ffc107;
}

.tork-border-danger {
  border-color: #dc3545;
}

.tork-border-light {
  border-color: #f8f9fa;
}

.tork-border-white {
  border-color: #ffffff;
}

.tork-border-dark {
  border-color: #212529;
}

.tork-border-1 {
  border-width: 1px;
}

.tork-border-2 {
  border-width: 2px;
}

.tork-border-3 {
  border-width: 3px;
}

.tork-border-4 {
  border-width: 4px;
}

.tork-border-5 {
  border-width: 5px;
}

.tork-border-top {
  border-top: 1px solid #dee2e6;
}

.tork-border-right {
  border-top: 1px solid #dee2e6;
}

.tork-border-left {
  border-left: 1px solid #dee2e6;
}

.tork-border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.tork-border-top-0 {
  border-top: 0 !important;
}

.tork-border-right-0 {
  border-top: 0 !important;
}

.tork-border-left-0 {
  border-left: 0 !important;
}

.tork-border-bottom-0 {
  border-bottom: 0 !important;
}

.tork-rounded {
  border-radius: 0.25rem;
}

.tork-rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.tork-rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.tork-rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.tork-rounded-left {
  border-bottom-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

.tork-rounded-circle {
  border-radius: 50% !important;
}

.tork-rounded-pill {
  border-radius: 50rem !important;
}

.tork-rounded-0 {
  border-radius: 0rem !important;
}

.tork-rounded-1 {
  border-radius: 0.25rem !important;
}

.tork-rounded-2 {
  border-radius: 0.5rem !important;
}

.tork-rounded-3 {
  border-radius: 0.75rem !important;
}

.tork-rounded-4 {
  border-radius: 1rem !important;
}

.tork-rounded-5 {
  border-radius: 1.25rem !important;
}

/*---------------------------
* Spacing or marging padding 
---------------------------*/
.tork-m-1 {
  margin: 0.25rem;
}

.tork-m-2 {
  margin: 0.5rem;
}

.tork-m-3 {
  margin: 0.75rem;
}

.tork-m-4 {
  margin: 1rem;
}

.tork-m-5 {
  margin: 1.25rem;
}

.tork-mt-1 {
  margin-top: 0.25rem;
}

.tork-mt-2 {
  margin-top: 0.5rem;
}

.tork-mt-3 {
  margin-top: 0.75rem;
}

.tork-mt-4 {
  margin-top: 1rem;
}

.tork-mt-5 {
  margin-top: 1.25rem;
}

.tork-mb-1 {
  margin-bottom: 0.25rem;
}

.tork-mb-2 {
  margin-bottom: 0.5rem;
}

.tork-mb-3 {
  margin-bottom: 0.75rem;
}

.tork-mb-4 {
  margin-bottom: 1rem;
}

.tork-mb-5 {
  margin-bottom: 1.25rem;
}

.tork-ml-1 {
  margin-left: 0.25rem;
}

.tork-ml-2 {
  margin-left: 0.5rem;
}

.tork-ml-3 {
  margin-left: 0.75rem;
}

.tork-ml-4 {
  margin-left: 1rem;
}

.tork-ml-5 {
  margin-left: 1.25rem;
}

.tork-mr-1 {
  margin-right: 0.25rem;
}

.tork-mr-2 {
  margin-right: 0.5rem;
}

.tork-mr-3 {
  margin-right: 0.75rem;
}

.tork-mr-4 {
  margin-right: 1rem;
}

.tork-mr-5 {
  margin-right: 1.25rem;
}

.tork-mx-1 {
  margin: 0 0.25rem;
}

.tork-mx-2 {
  margin: 0 0.5rem;
}

.tork-mx-3 {
  margin: 0 0.75rem;
}

.tork-mx-4 {
  margin: 0 1rem;
}

.tork-mx-5 {
  margin: 0 1.25rem;
}

.tork-my-1 {
  margin: 0.25rem 0;
}

.tork-my-2 {
  margin: 0.5rem 0;
}

.tork-my-3 {
  margin: 0.75rem 0;
}

.tork-my-4 {
  margin: 1rem 0;
}

.tork-my-5 {
  margin: 1.25rem 0;
}

.tork-mt-auto {
  margin-top: auto;
}

.tork-mb-auto {
  margin-bottom: auto;
}

.tork-ml-auto {
  margin-left: auto;
}

.tork-mr-auto {
  margin-right: auto;
}

.tork-mx-auto {
  margin-left: 0 auto;
}

.tork-p-1 {
  padding: 0.25rem;
}

.tork-p-2 {
  padding: 0.5rem;
}

.tork-p-3 {
  padding: 0.75rem;
}

.tork-p-4 {
  padding: 1rem;
}

.tork-p-5 {
  padding: 1.25rem;
}

.tork-pt-1 {
  padding-top: 0.25rem;
}

.tork-pt-2 {
  padding-top: 0.5rem;
}

.tork-pt-3 {
  padding-top: 0.75rem;
}

.tork-pt-4 {
  padding-top: 1rem;
}

.tork-pt-5 {
  padding-top: 1.25rem;
}

.tork-pb-1 {
  padding-bottom: 0.25rem;
}

.tork-pb-2 {
  padding-bottom: 0.5rem;
}

.tork-pb-3 {
  padding-bottom: 0.75rem;
}

.tork-pb-4 {
  padding-bottom: 1rem;
}

.tork-pb-5 {
  padding-bottom: 1.25rem;
}

.tork-pl-1 {
  padding-left: 0.25rem;
}

.tork-pl-2 {
  padding-left: 0.5rem;
}

.tork-pl-3 {
  padding-left: 0.75rem;
}

.tork-pl-4 {
  padding-left: 1rem;
}

.tork-pl-5 {
  padding-left: 1.25rem;
}

.tork-pr-1 {
  padding-right: 0.25rem;
}

.tork-pr-2 {
  padding-right: 0.5rem;
}

.tork-pr-3 {
  padding-right: 0.75rem;
}

.tork-pr-4 {
  padding-right: 1rem;
}

.tork-pr-5 {
  padding-right: 1.25rem;
}

.tork-px-1 {
  padding: 0 0.25rem;
}

.tork-px-2 {
  padding: 0 0.5rem;
}

.tork-px-3 {
  padding: 0 0.75rem;
}

.tork-px-4 {
  padding: 0 1rem;
}

.tork-px-5 {
  padding: 0 1.25rem;
}

.tork-py-1 {
  padding: 0.25rem 0;
}

.tork-py-2 {
  padding: 0.5rem 0;
}

.tork-py-3 {
  padding: 0.75rem 0;
}

.tork-py-4 {
  padding: 1rem 0;
}

.tork-py-5 {
  padding: 1.25rem 0;
}

@media only screen and (min-width: 576px) {
  .tork-p-sm-1 {
    padding: 0.25rem;
  }
  .tork-p-sm-2 {
    padding: 0.5rem;
  }
  .tork-p-sm-3 {
    padding: 0.75rem;
  }
  .tork-p-sm-4 {
    padding: 1rem;
  }
  .tork-p-sm-5 {
    padding: 1.25rem;
  }
  .tork-pt-sm-1 {
    padding-top: 0.25rem;
  }
  .tork-pt-sm-2 {
    padding-top: 0.5rem;
  }
  .tork-pt-sm-3 {
    padding-top: 0.75rem;
  }
  .tork-pt-sm-4 {
    padding-top: 1rem;
  }
  .tork-pt-sm-5 {
    padding-top: 1.25rem;
  }
  .tork-pb-sm-1 {
    padding-bottom: 0.25rem;
  }
  .tork-pb-sm-2 {
    padding-bottom: 0.5rem;
  }
  .tork-pb-sm-3 {
    padding-bottom: 0.75rem;
  }
  .tork-pb-sm-4 {
    padding-bottom: 1rem;
  }
  .tork-pb-sm-5 {
    padding-bottom: 1.25rem;
  }
  .tork-pl-sm-1 {
    padding-left: 0.25rem;
  }
  .tork-pl-sm-2 {
    padding-left: 0.5rem;
  }
  .tork-pl-sm-3 {
    padding-left: 0.75rem;
  }
  .tork-pl-sm-4 {
    padding-left: 1rem;
  }
  .tork-pl-sm-5 {
    padding-left: 1.25rem;
  }
  .tork-pr-sm-1 {
    padding-right: 0.25rem;
  }
  .tork-pr-sm-2 {
    padding-right: 0.5rem;
  }
  .tork-pr-sm-3 {
    padding-right: 0.75rem;
  }
  .tork-pr-sm-4 {
    padding-right: 1rem;
  }
  .tork-pr-sm-5 {
    padding-right: 1.25rem;
  }
  .tork-px-sm-1 {
    padding: 0 0.25rem;
  }
  .tork-px-sm-2 {
    padding: 0 0.5rem;
  }
  .tork-px-sm-3 {
    padding: 0 0.75rem;
  }
  .tork-px-sm-4 {
    padding: 0 1rem;
  }
  .tork-px-sm-5 {
    padding: 0 1.25rem;
  }
  .tork-py-sm-1 {
    padding: 0.25rem 0;
  }
  .tork-py-sm-2 {
    padding: 0.5rem 0;
  }
  .tork-py-sm-3 {
    padding: 0.75rem 0;
  }
  .tork-py-sm-4 {
    padding: 1rem 0;
  }
  .tork-py-sm-5 {
    padding: 1.25rem 0;
  }
  .tork-m-sm-1 {
    margin: 0.25rem;
  }
  .tork-m-sm-2 {
    margin: 0.5rem;
  }
  .tork-m-sm-3 {
    margin: 0.75rem;
  }
  .tork-m-sm-4 {
    margin: 1rem;
  }
  .tork-m-sm-5 {
    margin: 1.25rem;
  }
  .tork-mt-sm-1 {
    margin-top: 0.25rem;
  }
  .tork-mt-sm-2 {
    margin-top: 0.5rem;
  }
  .tork-mt-sm-3 {
    margin-top: 0.75rem;
  }
  .tork-mt-sm-4 {
    margin-top: 1rem;
  }
  .tork-mt-sm-5 {
    margin-top: 1.25rem;
  }
  .tork-mb-sm-1 {
    margin-bottom: 0.25rem;
  }
  .tork-mb-sm-2 {
    margin-bottom: 0.5rem;
  }
  .tork-mb-sm-3 {
    margin-bottom: 0.75rem;
  }
  .tork-mb-sm-4 {
    margin-bottom: 1rem;
  }
  .tork-mb-sm-5 {
    margin-bottom: 1.25rem;
  }
  .tork-ml-sm-1 {
    margin-left: 0.25rem;
  }
  .tork-ml-sm-2 {
    margin-left: 0.5rem;
  }
  .tork-ml-sm-3 {
    margin-left: 0.75rem;
  }
  .tork-ml-sm-4 {
    margin-left: 1rem;
  }
  .tork-ml-sm-5 {
    margin-left: 1.25rem;
  }
  .tork-mr-sm-1 {
    margin-right: 0.25rem;
  }
  .tork-mr-sm-2 {
    margin-right: 0.5rem;
  }
  .tork-mr-sm-3 {
    margin-right: 0.75rem;
  }
  .tork-mr-sm-4 {
    margin-right: 1rem;
  }
  .tork-mr-sm-5 {
    margin-right: 1.25rem;
  }
  .tork-mx-sm-1 {
    margin: 0 0.25rem;
  }
  .tork-mx-sm-2 {
    margin: 0 0.5rem;
  }
  .tork-mx-sm-3 {
    margin: 0 0.75rem;
  }
  .tork-mx-sm-4 {
    margin: 0 1rem;
  }
  .tork-mx-sm-5 {
    margin: 0 1.25rem;
  }
  .tork-my-sm-1 {
    margin: 0.25rem 0;
  }
  .tork-my-sm-2 {
    margin: 0.5rem 0;
  }
  .tork-my-sm-3 {
    margin: 0.75rem 0;
  }
  .tork-my-sm-4 {
    margin: 1rem 0;
  }
  .tork-my-sm-5 {
    margin: 1.25rem 0;
  }
  .tork-mt-sm-auto {
    margin-top: auto;
  }
  .tork-mb-sm-auto {
    margin-bottom: auto;
  }
  .tork-ml-sm-auto {
    margin-left: auto;
  }
  .tork-mr-sm-auto {
    margin-right: auto;
  }
  .tork-mx-sm-auto {
    margin-left: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .tork-p-md-1 {
    padding: 0.25rem;
  }
  .tork-p-md-2 {
    padding: 0.5rem;
  }
  .tork-p-md-3 {
    padding: 0.75rem;
  }
  .tork-p-md-4 {
    padding: 1rem;
  }
  .tork-p-md-5 {
    padding: 1.25rem;
  }
  .tork-pt-md-1 {
    padding-top: 0.25rem;
  }
  .tork-pt-md-2 {
    padding-top: 0.5rem;
  }
  .tork-pt-md-3 {
    padding-top: 0.75rem;
  }
  .tork-pt-md-4 {
    padding-top: 1rem;
  }
  .tork-pt-md-5 {
    padding-top: 1.25rem;
  }
  .tork-pb-md-1 {
    padding-bottom: 0.25rem;
  }
  .tork-pb-md-2 {
    padding-bottom: 0.5rem;
  }
  .tork-pb-md-3 {
    padding-bottom: 0.75rem;
  }
  .tork-pb-md-4 {
    padding-bottom: 1rem;
  }
  .tork-pb-md-5 {
    padding-bottom: 1.25rem;
  }
  .tork-pl-md-1 {
    padding-left: 0.25rem;
  }
  .tork-pl-md-2 {
    padding-left: 0.5rem;
  }
  .tork-pl-md-3 {
    padding-left: 0.75rem;
  }
  .tork-pl-md-4 {
    padding-left: 1rem;
  }
  .tork-pl-md-5 {
    padding-left: 1.25rem;
  }
  .tork-pr-md-1 {
    padding-right: 0.25rem;
  }
  .tork-pr-md-2 {
    padding-right: 0.5rem;
  }
  .tork-pr-md-3 {
    padding-right: 0.75rem;
  }
  .tork-pr-md-4 {
    padding-right: 1rem;
  }
  .tork-pr-md-5 {
    padding-right: 1.25rem;
  }
  .tork-px-md-1 {
    padding: 0 0.25rem;
  }
  .tork-px-md-2 {
    padding: 0 0.5rem;
  }
  .tork-px-md-3 {
    padding: 0 0.75rem;
  }
  .tork-px-md-4 {
    padding: 0 1rem;
  }
  .tork-px-md-5 {
    padding: 0 1.25rem;
  }
  .tork-py-md-1 {
    padding: 0.25rem 0;
  }
  .tork-py-md-2 {
    padding: 0.5rem 0;
  }
  .tork-py-md-3 {
    padding: 0.75rem 0;
  }
  .tork-py-md-4 {
    padding: 1rem 0;
  }
  .tork-py-md-5 {
    padding: 1.25rem 0;
  }
  .tork-m-md-1 {
    margin: 0.25rem;
  }
  .tork-m-md-2 {
    margin: 0.5rem;
  }
  .tork-m-md-3 {
    margin: 0.75rem;
  }
  .tork-m-md-4 {
    margin: 1rem;
  }
  .tork-m-md-5 {
    margin: 1.25rem;
  }
  .tork-mt-md-1 {
    margin-top: 0.25rem;
  }
  .tork-mt-md-2 {
    margin-top: 0.5rem;
  }
  .tork-mt-md-3 {
    margin-top: 0.75rem;
  }
  .tork-mt-md-4 {
    margin-top: 1rem;
  }
  .tork-mt-md-5 {
    margin-top: 1.25rem;
  }
  .tork-mb-md-1 {
    margin-bottom: 0.25rem;
  }
  .tork-mb-md-2 {
    margin-bottom: 0.5rem;
  }
  .tork-mb-md-3 {
    margin-bottom: 0.75rem;
  }
  .tork-mb-md-4 {
    margin-bottom: 1rem;
  }
  .tork-mb-md-5 {
    margin-bottom: 1.25rem;
  }
  .tork-ml-md-1 {
    margin-left: 0.25rem;
  }
  .tork-ml-md-2 {
    margin-left: 0.5rem;
  }
  .tork-ml-md-3 {
    margin-left: 0.75rem;
  }
  .tork-ml-md-4 {
    margin-left: 1rem;
  }
  .tork-ml-md-5 {
    margin-left: 1.25rem;
  }
  .tork-mr-md-1 {
    margin-right: 0.25rem;
  }
  .tork-mr-md-2 {
    margin-right: 0.5rem;
  }
  .tork-mr-md-3 {
    margin-right: 0.75rem;
  }
  .tork-mr-md-4 {
    margin-right: 1rem;
  }
  .tork-mr-md-5 {
    margin-right: 1.25rem;
  }
  .tork-mx-md-1 {
    margin: 0 0.25rem;
  }
  .tork-mx-md-2 {
    margin: 0 0.5rem;
  }
  .tork-mx-md-3 {
    margin: 0 0.75rem;
  }
  .tork-mx-md-4 {
    margin: 0 1rem;
  }
  .tork-mx-md-5 {
    margin: 0 1.25rem;
  }
  .tork-my-md-1 {
    margin: 0.25rem 0;
  }
  .tork-my-md-2 {
    margin: 0.5rem 0;
  }
  .tork-my-md-3 {
    margin: 0.75rem 0;
  }
  .tork-my-md-4 {
    margin: 1rem 0;
  }
  .tork-my-md-5 {
    margin: 1.25rem 0;
  }
  .tork-mt-md-auto {
    margin-top: auto;
  }
  .tork-mb-md-auto {
    margin-bottom: auto;
  }
  .tork-ml-md-auto {
    margin-left: auto;
  }
  .tork-mr-md-auto {
    margin-right: auto;
  }
  .tork-mx-md-auto {
    margin-left: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .tork-p-lg-1 {
    padding: 0.25rem;
  }
  .tork-p-lg-2 {
    padding: 0.5rem;
  }
  .tork-p-lg-3 {
    padding: 0.75rem;
  }
  .tork-p-lg-4 {
    padding: 1rem;
  }
  .tork-p-lg-5 {
    padding: 1.25rem;
  }
  .tork-pt-lg-1 {
    padding-top: 0.25rem;
  }
  .tork-pt-lg-2 {
    padding-top: 0.5rem;
  }
  .tork-pt-lg-3 {
    padding-top: 0.75rem;
  }
  .tork-pt-lg-4 {
    padding-top: 1rem;
  }
  .tork-pt-lg-5 {
    padding-top: 1.25rem;
  }
  .tork-pb-lg-1 {
    padding-bottom: 0.25rem;
  }
  .tork-pb-lg-2 {
    padding-bottom: 0.5rem;
  }
  .tork-pb-lg-3 {
    padding-bottom: 0.75rem;
  }
  .tork-pb-lg-4 {
    padding-bottom: 1rem;
  }
  .tork-pb-lg-5 {
    padding-bottom: 1.25rem;
  }
  .tork-pl-lg-1 {
    padding-left: 0.25rem;
  }
  .tork-pl-lg-2 {
    padding-left: 0.5rem;
  }
  .tork-pl-lg-3 {
    padding-left: 0.75rem;
  }
  .tork-pl-lg-4 {
    padding-left: 1rem;
  }
  .tork-pl-lg-5 {
    padding-left: 1.25rem;
  }
  .tork-pr-lg-1 {
    padding-right: 0.25rem;
  }
  .tork-pr-lg-2 {
    padding-right: 0.5rem;
  }
  .tork-pr-lg-3 {
    padding-right: 0.75rem;
  }
  .tork-pr-lg-4 {
    padding-right: 1rem;
  }
  .tork-pr-lg-5 {
    padding-right: 1.25rem;
  }
  .tork-px-lg-1 {
    padding: 0 0.25rem;
  }
  .tork-px-lg-2 {
    padding: 0 0.5rem;
  }
  .tork-px-lg-3 {
    padding: 0 0.75rem;
  }
  .tork-px-lg-4 {
    padding: 0 1rem;
  }
  .tork-px-lg-5 {
    padding: 0 1.25rem;
  }
  .tork-py-lg-1 {
    padding: 0.25rem 0;
  }
  .tork-py-lg-2 {
    padding: 0.5rem 0;
  }
  .tork-py-lg-3 {
    padding: 0.75rem 0;
  }
  .tork-py-lg-4 {
    padding: 1rem 0;
  }
  .tork-py-lg-5 {
    padding: 1.25rem 0;
  }
  .tork-m-lg-1 {
    margin: 0.25rem;
  }
  .tork-m-lg-2 {
    margin: 0.5rem;
  }
  .tork-m-lg-3 {
    margin: 0.75rem;
  }
  .tork-m-lg-4 {
    margin: 1rem;
  }
  .tork-m-lg-5 {
    margin: 1.25rem;
  }
  .tork-mt-lg-1 {
    margin-top: 0.25rem;
  }
  .tork-mt-lg-2 {
    margin-top: 0.5rem;
  }
  .tork-mt-lg-3 {
    margin-top: 0.75rem;
  }
  .tork-mt-lg-4 {
    margin-top: 1rem;
  }
  .tork-mt-lg-5 {
    margin-top: 1.25rem;
  }
  .tork-mb-lg-1 {
    margin-bottom: 0.25rem;
  }
  .tork-mb-lg-2 {
    margin-bottom: 0.5rem;
  }
  .tork-mb-lg-3 {
    margin-bottom: 0.75rem;
  }
  .tork-mb-lg-4 {
    margin-bottom: 1rem;
  }
  .tork-mb-lg-5 {
    margin-bottom: 1.25rem;
  }
  .tork-ml-lg-1 {
    margin-left: 0.25rem;
  }
  .tork-ml-lg-2 {
    margin-left: 0.5rem;
  }
  .tork-ml-lg-3 {
    margin-left: 0.75rem;
  }
  .tork-ml-lg-4 {
    margin-left: 1rem;
  }
  .tork-ml-lg-5 {
    margin-left: 1.25rem;
  }
  .tork-mr-lg-1 {
    margin-right: 0.25rem;
  }
  .tork-mr-lg-2 {
    margin-right: 0.5rem;
  }
  .tork-mr-lg-3 {
    margin-right: 0.75rem;
  }
  .tork-mr-lg-4 {
    margin-right: 1rem;
  }
  .tork-mr-lg-5 {
    margin-right: 1.25rem;
  }
  .tork-mx-lg-1 {
    margin: 0 0.25rem;
  }
  .tork-mx-lg-2 {
    margin: 0 0.5rem;
  }
  .tork-mx-lg-3 {
    margin: 0 0.75rem;
  }
  .tork-mx-lg-4 {
    margin: 0 1rem;
  }
  .tork-mx-lg-5 {
    margin: 0 1.25rem;
  }
  .tork-my-lg-1 {
    margin: 0.25rem 0;
  }
  .tork-my-lg-2 {
    margin: 0.5rem 0;
  }
  .tork-my-lg-3 {
    margin: 0.75rem 0;
  }
  .tork-my-lg-4 {
    margin: 1rem 0;
  }
  .tork-my-lg-5 {
    margin: 1.25rem 0;
  }
  .tork-mt-lg-auto {
    margin-top: auto;
  }
  .tork-mb-lg-auto {
    margin-bottom: auto;
  }
  .tork-ml-lg-auto {
    margin-left: auto;
  }
  .tork-mr-lg-auto {
    margin-right: auto;
  }
  .tork-mx-lg-auto {
    margin-left: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-p-xl-1 {
    padding: 0.25rem;
  }
  .tork-p-xl-2 {
    padding: 0.5rem;
  }
  .tork-p-xl-3 {
    padding: 0.75rem;
  }
  .tork-p-xl-4 {
    padding: 1rem;
  }
  .tork-p-xl-5 {
    padding: 1.25rem;
  }
  .tork-pt-xl-1 {
    padding-top: 0.25rem;
  }
  .tork-pt-xl-2 {
    padding-top: 0.5rem;
  }
  .tork-pt-xl-3 {
    padding-top: 0.75rem;
  }
  .tork-pt-xl-4 {
    padding-top: 1rem;
  }
  .tork-pt-xl-5 {
    padding-top: 1.25rem;
  }
  .tork-pb-xl-1 {
    padding-bottom: 0.25rem;
  }
  .tork-pb-xl-2 {
    padding-bottom: 0.5rem;
  }
  .tork-pb-xl-3 {
    padding-bottom: 0.75rem;
  }
  .tork-pb-xl-4 {
    padding-bottom: 1rem;
  }
  .tork-pb-xl-5 {
    padding-bottom: 1.25rem;
  }
  .tork-pl-xl-1 {
    padding-left: 0.25rem;
  }
  .tork-pl-xl-2 {
    padding-left: 0.5rem;
  }
  .tork-pl-xl-3 {
    padding-left: 0.75rem;
  }
  .tork-pl-xl-4 {
    padding-left: 1rem;
  }
  .tork-pl-xl-5 {
    padding-left: 1.25rem;
  }
  .tork-pr-xl-1 {
    padding-right: 0.25rem;
  }
  .tork-pr-xl-2 {
    padding-right: 0.5rem;
  }
  .tork-pr-xl-3 {
    padding-right: 0.75rem;
  }
  .tork-pr-xl-4 {
    padding-right: 1rem;
  }
  .tork-pr-xl-5 {
    padding-right: 1.25rem;
  }
  .tork-px-xl-1 {
    padding: 0 0.25rem;
  }
  .tork-px-xl-2 {
    padding: 0 0.5rem;
  }
  .tork-px-xl-3 {
    padding: 0 0.75rem;
  }
  .tork-px-xl-4 {
    padding: 0 1rem;
  }
  .tork-px-xl-5 {
    padding: 0 1.25rem;
  }
  .tork-py-xl-1 {
    padding: 0.25rem 0;
  }
  .tork-py-xl-2 {
    padding: 0.5rem 0;
  }
  .tork-py-xl-3 {
    padding: 0.75rem 0;
  }
  .tork-py-xl-4 {
    padding: 1rem 0;
  }
  .tork-py-xl-5 {
    padding: 1.25rem 0;
  }
  .tork-m-xl-1 {
    margin: 0.25rem;
  }
  .tork-m-xl-2 {
    margin: 0.5rem;
  }
  .tork-m-xl-3 {
    margin: 0.75rem;
  }
  .tork-m-xl-4 {
    margin: 1rem;
  }
  .tork-m-xl-5 {
    margin: 1.25rem;
  }
  .tork-mt-xl-1 {
    margin-top: 0.25rem;
  }
  .tork-mt-xl-2 {
    margin-top: 0.5rem;
  }
  .tork-mt-xl-3 {
    margin-top: 0.75rem;
  }
  .tork-mt-xl-4 {
    margin-top: 1rem;
  }
  .tork-mt-xl-5 {
    margin-top: 1.25rem;
  }
  .tork-mb-xl-1 {
    margin-bottom: 0.25rem;
  }
  .tork-mb-xl-2 {
    margin-bottom: 0.5rem;
  }
  .tork-mb-xl-3 {
    margin-bottom: 0.75rem;
  }
  .tork-mb-xl-4 {
    margin-bottom: 1rem;
  }
  .tork-mb-xl-5 {
    margin-bottom: 1.25rem;
  }
  .tork-ml-xl-1 {
    margin-left: 0.25rem;
  }
  .tork-ml-xl-2 {
    margin-left: 0.5rem;
  }
  .tork-ml-xl-3 {
    margin-left: 0.75rem;
  }
  .tork-ml-xl-4 {
    margin-left: 1rem;
  }
  .tork-ml-xl-5 {
    margin-left: 1.25rem;
  }
  .tork-mr-xl-1 {
    margin-right: 0.25rem;
  }
  .tork-mr-xl-2 {
    margin-right: 0.5rem;
  }
  .tork-mr-xl-3 {
    margin-right: 0.75rem;
  }
  .tork-mr-xl-4 {
    margin-right: 1rem;
  }
  .tork-mr-xl-5 {
    margin-right: 1.25rem;
  }
  .tork-mx-xl-1 {
    margin: 0 0.25rem;
  }
  .tork-mx-xl-2 {
    margin: 0 0.5rem;
  }
  .tork-mx-xl-3 {
    margin: 0 0.75rem;
  }
  .tork-mx-xl-4 {
    margin: 0 1rem;
  }
  .tork-mx-xl-5 {
    margin: 0 1.25rem;
  }
  .tork-my-xl-1 {
    margin: 0.25rem 0;
  }
  .tork-my-xl-2 {
    margin: 0.5rem 0;
  }
  .tork-my-xl-3 {
    margin: 0.75rem 0;
  }
  .tork-my-xl-4 {
    margin: 1rem 0;
  }
  .tork-my-xl-5 {
    margin: 1.25rem 0;
  }
  .tork-mt-xl-auto {
    margin-top: auto;
  }
  .tork-mb-xl-auto {
    margin-bottom: auto;
  }
  .tork-ml-xl-auto {
    margin-left: auto;
  }
  .tork-mr-xl-auto {
    margin-right: auto;
  }
  .tork-mx-xl-auto {
    margin-left: 0 auto;
  }
}

.tork-text-lowercase {
  text-transform: lowercase;
}

.tork-text-uppercase {
  text-transform: uppercase;
}

.tork-text-capitalize {
  text-transform: capitalize;
}

.tork-fw-bolder {
  font-weight: bolder;
}

.tork-fw-bold {
  font-weight: 700;
}

.tork-fw-400 {
  font-weight: 400;
}

.tork-fw-300 {
  font-weight: 300;
}

.tork-fw-lighter {
  font-weight: lighter;
}

.tork-text-italic {
  font-style: italic;
}

.tork-d-none {
  display: none;
}

.tork-d-block {
  display: block;
}

.tork-d-inline-block {
  display: inline-block;
}

.tork-d-inline {
  display: inline;
}

.tork-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tork-d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tork-d-grid {
  display: -ms-grid;
  display: grid;
}

.tork-d-table {
  display: table;
}

.tork-d-table-cell {
  display: table-cell;
}

.tork-d-table-row {
  display: table-row;
}

@media only screen and (min-width: 576px) {
  .tork-d-sm-none {
    display: none;
  }
  .tork-d-sm-block {
    display: block;
  }
  .tork-d-sm-inline-block {
    display: inline-block;
  }
  .tork-d-sm-inline {
    display: inline;
  }
  .tork-d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tork-d-sm-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tork-d-sm-grid {
    display: -ms-grid;
    display: grid;
  }
  .tork-d-sm-table {
    display: table;
  }
  .tork-d-sm-table-cell {
    display: table-cell;
  }
  .tork-d-sm-table-row {
    display: table-row;
  }
}

@media only screen and (min-width: 768px) {
  .tork-d-md-none {
    display: none;
  }
  .tork-d-md-block {
    display: block;
  }
  .tork-d-md-inline-block {
    display: inline-block;
  }
  .tork-d-md-inline {
    display: inline;
  }
  .tork-d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tork-d-md-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tork-d-md-grid {
    display: -ms-grid;
    display: grid;
  }
  .tork-d-md-table {
    display: table;
  }
  .tork-d-md-table-cell {
    display: table-cell;
  }
  .tork-d-md-table-row {
    display: table-row;
  }
}

@media only screen and (min-width: 992px) {
  .tork-d-lg-none {
    display: none;
  }
  .tork-d-lg-block {
    display: block;
  }
  .tork-d-lg-inline-block {
    display: inline-block;
  }
  .tork-d-lg-inline {
    display: inline;
  }
  .tork-d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tork-d-lg-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tork-d-lg-grid {
    display: -ms-grid;
    display: grid;
  }
  .tork-d-lg-table {
    display: table;
  }
  .tork-d-lg-table-cell {
    display: table-cell;
  }
  .tork-d-lg-table-row {
    display: table-row;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-d-xl-none {
    display: none;
  }
  .tork-d-xl-block {
    display: block;
  }
  .tork-d-xl-inline-block {
    display: inline-block;
  }
  .tork-d-xl-inline {
    display: inline;
  }
  .tork-d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tork-d-xl-inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tork-d-xl-grid {
    display: -ms-grid;
    display: grid;
  }
  .tork-d-xl-table {
    display: table;
  }
  .tork-d-xl-table-cell {
    display: table-cell;
  }
  .tork-d-xl-table-row {
    display: table-row;
  }
}

.tork-justify-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.tork-justify-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.tork-justify-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tork-justify-c-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tork-justify-c-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tork-justify-c-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tork-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.tork-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.tork-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tork-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tork-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.tork-align-self-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.tork-align-self-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.tork-align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tork-align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.tork-align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.tork-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tork-flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.tork-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tork-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tork-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.tork-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tork-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.tork-flex-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.tork-flex-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.tork-flex-order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.tork-flex-order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.tork-flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tork-flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (min-width: 576px) {
  .tork-justify-c-sm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tork-justify-c-sm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .tork-justify-c-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tork-justify-c-sm-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tork-justify-c-sm-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tork-justify-c-sm-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tork-items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .tork-items-sm-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .tork-items-sm-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tork-items-sm-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .tork-items-sm-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .tork-align-self-sm-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .tork-align-self-sm-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .tork-align-self-sm-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tork-align-self-sm-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .tork-align-self-sm-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .tork-flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tork-flex-sm-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tork-flex-sm-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tork-flex-sm-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .tork-sm-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tork-sm-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tork-sm-flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .tork-flex-order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tork-flex-order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tork-flex-order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .tork-flex-order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media only screen and (min-width: 768px) {
  .tork-justify-c-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tork-justify-c-md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .tork-justify-c-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tork-justify-c-md-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tork-justify-c-md-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tork-justify-c-md-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tork-items-md-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .tork-items-md-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .tork-items-md-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tork-items-md-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .tork-items-md-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .tork-align-self-md-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .tork-align-self-md-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .tork-align-self-md-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tork-align-self-md-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .tork-align-self-md-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .tork-flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tork-flex-md-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tork-flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tork-flex-md-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .tork-md-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tork-md-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tork-md-flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .tork-flex-order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tork-flex-order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tork-flex-order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .tork-flex-order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media only screen and (min-width: 992px) {
  .tork-justify-c-lg-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tork-justify-c-lg-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .tork-justify-c-lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tork-justify-c-lg-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tork-justify-c-lg-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tork-justify-c-lg-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tork-items-lg-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .tork-items-lg-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .tork-items-lg-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tork-items-lg-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .tork-items-lg-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .tork-align-self-lg-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .tork-align-self-lg-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .tork-align-self-lg-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tork-align-self-lg-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .tork-align-self-lg-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .tork-flex-lg-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tork-flex-lg-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tork-flex-lg-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tork-flex-lg-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .tork-lg-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tork-lg-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tork-lg-flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .tork-flex-order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tork-flex-order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tork-flex-order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .tork-flex-order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-justify-c-xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tork-justify-c-xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .tork-justify-c-xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tork-justify-c-xl-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tork-justify-c-xl-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tork-justify-c-xl-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tork-items-xl-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .tork-items-xl-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .tork-items-xl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tork-items-xl-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .tork-items-xl-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .tork-align-self-xl-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .tork-align-self-xl-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .tork-align-self-xl-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tork-align-self-xl-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .tork-align-self-xl-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .tork-flex-xl-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tork-flex-xl-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tork-flex-xl-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tork-flex-xl-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .tork-xl-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tork-xl-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tork-xl-flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .tork-flex-order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tork-flex-order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tork-flex-order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .tork-flex-order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.tork-float-left {
  float: left;
}

.tork-float-right {
  float: right;
}

.tork-float-none {
  float: none;
}

@media only screen and (min-width: 576px) {
  .tork-float-sm-left {
    float: left;
  }
  .tork-float-sm-right {
    float: right;
  }
  .tork-float-sm-none {
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .tork-float-md-left {
    float: left;
  }
  .tork-float-md-right {
    float: right;
  }
  .tork-float-md-none {
    float: none;
  }
}

@media only screen and (min-width: 992px) {
  .tork-float-lg-left {
    float: left;
  }
  .tork-float-lg-right {
    float: right;
  }
  .tork-float-lg-none {
    float: none;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-float-xl-left {
    float: left;
  }
  .tork-float-xl-right {
    float: right;
  }
  .tork-float-xl-none {
    float: none;
  }
}

.tork-overflow-auto {
  overflow: auto;
}

.tork-overflow-hidden {
  overflow: hidden;
}

.tork-overflow-visible {
  overflow: visible;
}

.tork-overflow-scroll {
  overflow: scroll;
}

@media only screen and (min-width: 576px) {
  .tork-overflow-sm-auto {
    overflow: auto;
  }
  .tork-overflow-sm-hidden {
    overflow: hidden;
  }
  .tork-overflow-sm-visible {
    overflow: visible;
  }
  .tork-overflow-sm-scroll {
    overflow: scroll;
  }
}

@media only screen and (min-width: 768px) {
  .tork-overflow-md-auto {
    overflow: auto;
  }
  .tork-overflow-md-hidden {
    overflow: hidden;
  }
  .tork-overflow-md-visible {
    overflow: visible;
  }
  .tork-overflow-md-scroll {
    overflow: scroll;
  }
}

@media only screen and (min-width: 992px) {
  .tork-overflow-lg-auto {
    overflow: auto;
  }
  .tork-overflow-lg-hidden {
    overflow: hidden;
  }
  .tork-overflow-lg-visible {
    overflow: visible;
  }
  .tork-overflow-lg-scroll {
    overflow: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-overflow-xl-auto {
    overflow: auto;
  }
  .tork-overflow-xl-hidden {
    overflow: hidden;
  }
  .tork-overflow-xl-visible {
    overflow: visible;
  }
  .tork-overflow-xl-scroll {
    overflow: scroll;
  }
}

.tork-position-static {
  position: static;
}

.tork-position-relative {
  position: relative;
}

.tork-position-absolute {
  position: absolute;
}

.tork-position-fixed {
  position: fixed;
}

.tork-position-sticky {
  position: -webkit-sticky;
  position: sticky;
}

@media only screen and (min-width: 576px) {
  .tork-position-sm-static {
    position: static;
  }
  .tork-position-sm-relative {
    position: relative;
  }
  .tork-position-sm-absolute {
    position: absolute;
  }
  .tork-position-sm-fixed {
    position: fixed;
  }
  .tork-position-sm-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (min-width: 768px) {
  .tork-position-md-static {
    position: static;
  }
  .tork-position-md-relative {
    position: relative;
  }
  .tork-position-md-absolute {
    position: absolute;
  }
  .tork-position-md-fixed {
    position: fixed;
  }
  .tork-position-md-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (min-width: 992px) {
  .tork-position-lg-static {
    position: static;
  }
  .tork-position-lg-relative {
    position: relative;
  }
  .tork-position-lg-absolute {
    position: absolute;
  }
  .tork-position-lg-fixed {
    position: fixed;
  }
  .tork-position-lg-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-position-xl-static {
    position: static;
  }
  .tork-position-xl-relative {
    position: relative;
  }
  .tork-position-xl-absolute {
    position: absolute;
  }
  .tork-position-xl-fixed {
    position: fixed;
  }
  .tork-position-xl-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.tork-w-10 {
  width: 10%;
}

.tork-w-20 {
  width: 20%;
}

.tork-w-25 {
  width: 25%;
}

.tork-w-30 {
  width: 30%;
}

.tork-w-40 {
  width: 40%;
}

.tork-w-50 {
  width: 50%;
}

.tork-w-75 {
  width: 75%;
}

.tork-w-100 {
  width: 100%;
}

.tork-w-auto {
  width: auto;
}

@media only screen and (min-width: 576px) {
  .tork-w-sm-10 {
    width: 10%;
  }
  .tork-w-sm-20 {
    width: 20%;
  }
  .tork-w-sm-25 {
    width: 25%;
  }
  .tork-w-sm-30 {
    width: 30%;
  }
  .tork-w-sm-40 {
    width: 40%;
  }
  .tork-w-sm-50 {
    width: 50%;
  }
  .tork-w-sm-75 {
    width: 75%;
  }
  .tork-w-sm-100 {
    width: 100%;
  }
  .tork-w-sm-auto {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .tork-w-md-10 {
    width: 10%;
  }
  .tork-w-md-20 {
    width: 20%;
  }
  .tork-w-md-25 {
    width: 25%;
  }
  .tork-w-md-30 {
    width: 30%;
  }
  .tork-w-md-40 {
    width: 40%;
  }
  .tork-w-md-50 {
    width: 50%;
  }
  .tork-w-md-75 {
    width: 75%;
  }
  .tork-w-md-100 {
    width: 100%;
  }
  .tork-w-md-auto {
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .tork-w-lg-10 {
    width: 10%;
  }
  .tork-w-lg-20 {
    width: 20%;
  }
  .tork-w-lg-25 {
    width: 25%;
  }
  .tork-w-lg-30 {
    width: 30%;
  }
  .tork-w-lg-40 {
    width: 40%;
  }
  .tork-w-lg-50 {
    width: 50%;
  }
  .tork-w-lg-75 {
    width: 75%;
  }
  .tork-w-lg-100 {
    width: 100%;
  }
  .tork-w-lg-auto {
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-w-xl-10 {
    width: 10%;
  }
  .tork-w-xl-20 {
    width: 20%;
  }
  .tork-w-xl-25 {
    width: 25%;
  }
  .tork-w-xl-30 {
    width: 30%;
  }
  .tork-w-xl-40 {
    width: 40%;
  }
  .tork-w-xl-50 {
    width: 50%;
  }
  .tork-w-xl-75 {
    width: 75%;
  }
  .tork-w-xl-100 {
    width: 100%;
  }
  .tork-w-xl-auto {
    width: auto;
  }
}

.tork-v-align-baseline {
  vertical-align: baseline;
}

.tork-v-align-top {
  vertical-align: top;
}

.tork-v-align-middle {
  vertical-align: middle;
}

.tork-v-align-bottom {
  vertical-align: bottom;
}

.tork-v-align-text-bottom {
  vertical-align: text-bottom;
}

.tork-v-align-text-top {
  vertical-align: text-top;
}

@media only screen and (min-width: 576px) {
  .tork-v-align-sm-baseline {
    vertical-align: baseline;
  }
  .tork-v-align-sm-top {
    vertical-align: top;
  }
  .tork-v-align-sm-middle {
    vertical-align: middle;
  }
  .tork-v-align-sm-bottom {
    vertical-align: bottom;
  }
  .tork-v-align-sm-text-bottom {
    vertical-align: text-bottom;
  }
  .tork-v-align-sm-text-top {
    vertical-align: text-top;
  }
}

@media only screen and (min-width: 768px) {
  .tork-v-align-md-baseline {
    vertical-align: baseline;
  }
  .tork-v-align-md-top {
    vertical-align: top;
  }
  .tork-v-align-md-middle {
    vertical-align: middle;
  }
  .tork-v-align-md-bottom {
    vertical-align: bottom;
  }
  .tork-v-align-md-text-bottom {
    vertical-align: text-bottom;
  }
  .tork-v-align-md-text-top {
    vertical-align: text-top;
  }
}

@media only screen and (min-width: 992px) {
  .tork-v-align-lg-baseline {
    vertical-align: baseline;
  }
  .tork-v-align-lg-top {
    vertical-align: top;
  }
  .tork-v-align-lg-middle {
    vertical-align: middle;
  }
  .tork-v-align-lg-bottom {
    vertical-align: bottom;
  }
  .tork-v-align-lg-text-bottom {
    vertical-align: text-bottom;
  }
  .tork-v-align-lg-text-top {
    vertical-align: text-top;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-v-align-xl-baseline {
    vertical-align: baseline;
  }
  .tork-v-align-xl-top {
    vertical-align: top;
  }
  .tork-v-align-xl-middle {
    vertical-align: middle;
  }
  .tork-v-align-xl-bottom {
    vertical-align: bottom;
  }
  .tork-v-align-xl-text-bottom {
    vertical-align: text-bottom;
  }
  .tork-v-align-xl-text-top {
    vertical-align: text-top;
  }
}

.tork-visible {
  visibility: visible;
}

.tork-invisible {
  visibility: hidden;
}

@media only screen and (min-width: 576px) {
  .tork-sm-visible {
    visibility: visible;
  }
  .tork-sm-invisible {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .tork-md-visible {
    visibility: visible;
  }
  .tork-md-invisible {
    visibility: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .tork-lg-visible {
    visibility: visible;
  }
  .tork-lg-invisible {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .tork-xl-visible {
    visibility: visible;
  }
  .tork-xl-invisible {
    visibility: hidden;
  }
}

.tork-shodow-none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tork-shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.tork-shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.tork-shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

h1 {
  color: #0d6efd;
}

h4 {
  color: hotpink;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */