$primary-color: #0d6efd;
$secondary-color: #6c757d;
$success-color: #198754;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #0dcaf0;
$light-color: #f8f9fa;
$white-color: #ffffff;
$dark-color: #212529;

// text-colors
$tork-theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
  light: $light-color,
  white: $white-color,
  dark: $dark-color,
);

@each $name, $color in $tork-theme-colors {
  .#{tork-text- + $name} {
    color: $color;
  }
}

//Background colors
@each $name, $color in $tork-theme-colors {
  .#{tork-bg- + $name} {
    background-color: $color;
  }
}
