// body Font size
$primany-font: "Roboto", sans-serif;
$body-font-size: 0.875rem;
$body-font-weight: 400;

// Heading Font style
$heading-one-fontSize: 2rem;
$heading-two-fontSize: 0.875rem;
$heading-two-fontSize: 0.875rem;
